[Unit]
Description=Monitor dashboard web
After=network.target

[Service]
User=yasu
WorkingDirectory=/opt/monitor
ExecStart=/opt/monitor/venv/bin/python3 -m gunicorn --bind 127.0.0.1:8001 web:app
Restart=always

[Install]
WantedBy=multi-user.target
